@{
	Layout = null;
}

<!doctype html>
	<head><title>Main page</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="~/css/accessDenied.css">
	</head>
<html>

	<body>
	<section>
	<h1>Your access is denied!</h1>
	<form method="get" action="~/Account/logout">
			<div class="btnLog"><input class="btn" type="submit" value="Log out" /></div>
		</form>
	</section>
	</body>
</html>