@{
	Layout = null;
}

<!doctype html>
<html>
	<head><title>Main page</title>
	<meta charset="utf-8" />
	</head>
	<body>
	<h1>Your access is denied!</h1>
	<form method="get" action="~/Account/logout">
			<input class="btn btn-1" type="submit" value="Log out" />
		</form>
	</body>
</html>