@model System.Security.Claims.ClaimsPrincipal
@using System.Security.Claims
@{
	Layout = null;
}

<!doctype html>
<html>
	<head><title>Authentication</title>
	<meta charset="utf-8" />
	</head>
	<style>
section{
	position:absolute;
	top: 50%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%)
}
.btnLogOut {
    text-decoration: none;
    display: inline-block;
    width: 160px;
    height: 65px;
    line-height: 10px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: rgb(240, 240, 240);
    transition: .3s;
}

    .btnLogOut:hover {
        background: #4285f4;
        color: white;
        transform: translateY(-7px);
    }
	</style>
	<body>
	<section>
	<h1>You are authorized!</h1>
	@if(Model is not null){
		<h2>Hi, @Model.Identity.Name </h2>
	}
	<p>
		You successfully logged in with @Model.Identity.AuthenticationType.
		Here you can see a user secret<br />
		You are a @Model.FindFirst(ClaimTypes.Role).Value <br/>
		<img src = "https://avatarko.ru/img/kartinka/18/zhivotnye_sobaka_computer_17767.jpg" />
	</p>
		<form method="get" action="~/Account/logout">
			<div style="display: flex; justify-content: center;">
				<input class="btnLogOut" type="submit" value="Log out" />
			</div>
		</form>
	</section>
	</body>
</html>