@model System.Security.Claims.ClaimsPrincipal
@using System.Security.Claims
@{
	Layout = null;
}

<!doctype html>
	<head>
		<title>Authentication</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="~/css/index.css">
	</head>
<html>

	<body>
	<section>
	<h1>You are authorized!</h1>
	@if(Model is not null){
		<h2>Hi, @Model.Identity.Name </h2>
	}
	<p>
		You successfully logged in with @Model.Identity.AuthenticationType.
		Here you can see a user secret<br />
		You are a @Model.FindFirst(ClaimTypes.Role).Value <br/>
		<img src = "https://avatarko.ru/img/kartinka/18/zhivotnye_sobaka_computer_17767.jpg" />
	</p>
		<form method="get" action="~/Account/logout">
			<div class = "btn">
				<input class="btnLogOut" type="submit" value="Log out" />
			</div>
		</form>
	</section>
	</body>
</html>