@{
	Layout = null;
}

<!doctype html>
<head>
	<title>Main page</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<html>
	
	
	<body>

	<section>
	<h1>It's a main page!</h1>
	<div class="buttons">
		<form method="get" action="~/Account/Login">
			<input class="btnLog" type="submit" value="Log in" />
	</form>
	<form method="get" action="~/Home/Index">
			<input class="btnProf" type="submit" value="Profile" />
	</form>
	</div>
	</section>
	</body>
</html>