@{
	Layout = null;
}

<!doctype html>
<head><title>Authentication</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="~/css/login.css">
	</head>
<html>
	<body>
	<section>
	<h1>Authentication</h1>
	<form method="post">
		<p>
			<input class = "em" placeholder="Email" name="email" />
		</p>
		<p>
			<input class = "pass" type="password" placeholder="password" name="password" />
		</p>
		<div class="btns"><input class = "btnSignIn" type="submit" value="Sign in"/></div>
	</form>
	<form method="post" action="google-login">
		 <div class="btns"><input class = "btnLogGoogle" type="submit" value="Sign with google"/></div>
	</form>
    
	</section>
	</body>
</html>